<html ng-app="myApp">
	<!--
	This is the HTML for the homework problem. It may not be edited
	-->

	<head>
		<title>Homework #11</title>
		<link rel="stylesheet" type="text/css" href="homework.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<!-- AngularJS Library -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

		<style>
		.glyphicon-remove{
			color:pink;
		}
		.glyphicon-remove:hover{
			color:red;
			cursor:pointer;
		}
		</style>
	</head>

	<body ng-controller="TodoController as todoCtrl">

		<div class="container">
			<div id="header">
				<h1>Homework #11</h1>
				<p>
					WEBD 335 &#8213; Dani Hooven
				</p>
				<div id="instructions">
					<p>
						<strong>Instructions:</strong> Follow the instructions below for each Problem (you can write the Javascript in this HTML file directly and return it) and Answer each Question completely (in another document).
					</p>
				</div>

				<fieldset>
					<h2>Problem 1 &#8213; AngularJS </h2>
					<p class="question">
						<strong>[20 points]</strong> Create the following Homework form using AngularJS.  Reference the Code School Tutorial and other sources on the Internet to learn how to best build this form in Angular and Bootstrap.
						<ul>
							<li>Declare a TodoController and use it as todoCtrl</li>
							<li>Add a todoList array in the TodoController</li>
							<li>Add a "addTodo" function in the TodoController</li>
							<li>Create a HTML Table that displays the contents of the todoList array; and shows a red glyphicon-remove.</li>
							<li>Create a HTML Form (using Bootstrap and ng-model) to accept Todo Name and Description.</li>
							<li>Add a "deleteTodo" function in the TodoController and bind the glyphicon-remove to it on ng-click so that it removes the todo from the todoList array.</li>
							<li>Be sure to keep the same styling; striped table rows, and use table header</li>
							<li>When there is no todos, then the header row should not appear--use AngularJS ng-show to have the header row only appear when the todoList array has todos</li>
						</ul>
					</p>
					<img src="homework12.gif" />

					<br />
					<br />


					<!-- Angular Script -->
					<script src="app.js"></script>			

					<!-- To Do Table  -->
					<table class="table table-striped" ng-show="todoCtrl.todoItems.length">
						<thead>
							<tr>
								<th scope="col">Todo Name</th>
								<th scope="col">Desc</th>
								<th scope="col">Date</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="todoItem in todoCtrl.todoItems">
								<td>{{todoItem.name}}</td>
								<td>{{todoItem.desc}}</td>
								<td>{{todoItem.date}}</td>
								<td class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="todoCtrl.removeItem($index)"></td>
							</tr>
						</tbody>
					</table>

					<!-- To Do Form  -->
					<form name="todoCtrl.todoForm">
						<div class="form-row">
							<!-- To Do Name  -->
							<div class="form-group">
								<label for="todo-name">Short Name</label>
								<input type="text" required class="form-control" id="todo-name" ng-model="newToDo.todoName">
							</div>
							<!-- To Do Description  -->
							<div class="form-group">
								<label for="todo-desc">Description</label>
								<textarea type="text" class="form-control" id="todo-desc" rows="4" ng-model="newToDo.todoDesc"></textarea>
							</div>
							<!-- Add To Do  -->
							<button class="btn btn-primary pull-right" ng-click="todoCtrl.addItem(newToDo)">Add Todo</button>
						</div>
					</form>					
				</fieldset>



				<fieldset>
					<h2>Question 1</h2>
					<p class="question">
						<strong>[1 point]</strong>
						According to the reading what is the "glue between the View and the Controller in AngularJS.  Hint: the answer is one word?
					</p>
					<textarea placeholder="Scope"></textarea>


				</fieldset>

				<fieldset>
					<h2>Question 2</h2>
					<p class="question">
						<strong>[1 point]</strong>
						Describe the built-in directive in AngularJS that is used to loop over an array.
					</p>
					<textarea placeholder="The ngRepeat directive instantiates a template once per item from a collection. Each template instance gets its own scope, where the given loop variable is set to the current collection item, and $index is set to the item index or key."></textarea>
				</fieldset>

				<fieldset>
					<h2>Question 3</h2>
					<p class="question">
						<strong>[1 point]</strong>
						Describe Views and Controllers in AngularJS.  As descibed in the reading, mention the two best practices for Controllers.
					</p>
					<textarea placeholder="1. Controllers should be lightweight and specific to the view they control. 2.Controllers should have no knowledge of the view they control."></textarea>
				</fieldset>

				<fieldset>
					<h2>Question 4</h2>
					<p class="question">
						<strong>[1 point]</strong>
						Describe Models and Services in AngularJS;
					</p>
					<textarea placeholder="A “service” refers to a mechanism that communicates with a remote service, whereas a “model” is responsible for not only communicating with the remote service but managing the state surrounding that data."></textarea>
				</fieldset>
				<fieldset>
					<h2>Question 5</h2>
					<p class="question">
						<strong>[1 point]</strong>
						Describe Promises and Intercepts.
					</p>
					<textarea placeholder="When you make a remote server call, a promise object is returned and patiently sits there until it’s resolved and then performs whatever logic you desire."></textarea>
				</fieldset>

			</div>
		</div>
	</body>
