/*
 * Put your solution to problem 2 here
 */

#dialpad .row {
    width: 275px;
    text-align: center;
    clear: both;
    background-color: gray;
    overflow: auto;
}

#dialpad .cell {
    float: left;
    background-color: #ff8c8c;
    margin: 10px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 1.4rem;
    border-radius: 15px;
}

#dialpad .cell:hover {
    background-color: rgb(127, 160, 250);
    font-size: 2.3rem;
    font-weight: 500;
 }

#dialPad .cell .empty {
    background-color: transparent;
}

#dialPad .empty:hover {
    background-color: transparent;
}
     
