/*
 * Put your solution to problem 1 here
 */

#horizontalButtons li {
  display: inline-block;
  margin: 0 7px;
  background: rgb(153, 194, 247);
  color: black;
  padding: 5px 40px;
  border-radius: 10px;
  font-size: .8rem;
}

#horizontalButtons li:hover {
    background-color: rgb(21, 118, 245);
}
